 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='informationDisplay.css') }}">
<!DOCTYPE html>
<html>
   <head>
      <title>Records: </title>
   </head>
   <body style="background-color:grey;">

<!--   ************************For Errors:-->
    {%if error%}
       <h2> {{error}} </h2>

   {%endif%}


<!--   ************************Personal Profile:-->

{%if criminalNameList%}

<div class="container">
   <h1>{{criminalNameList[0].name}}</h1>
   <h3>Personal Profile</h3>
  <!-- Image***********>-->
   <img src={{criminalNameList[0].fileLocation}} alt={{criminalNameList[0].name}} width="500" height="500"/>

     <div class="listFlex">
      <div>
         <ul>
            <li>Criminal ID: {{criminalNameList[0].id}}</li>
            <li>Address: {{criminalNameList[0].address}}</li>
            <li>Age: {{criminalNameList[0].age}}</li>
            <li>Nationality: {{criminalNameList[0].nationality}}</li>
            <li>Years in Jail: {{criminalNameList[0].years}}</li>
            <li>Jail Name: {{criminalNameList[0].jail}}</li>
            <li>Date of Record: {{criminalNameList[0].created_at}}</li>

            </ul>
      </div>
    </div>



   <div class="dropdown">
  <button class="dropbtn">Additional Information</button>
  <div class="dropdown-content">
    <a href="{{url_for('informationDisplay', additionalInformation = 'crime', name = criminalNameList[0].name)}}">Crime</a>
    <a href="{{url_for('informationDisplay', additionalInformation = 'victim', name = criminalNameList[0].name)}}">Victim</a>
    <a href="{{url_for('informationDisplay', additionalInformation = 'judge', name = criminalNameList[0].name)}}">Judge</a>
  </div>
</div>

    {%endif%}

<!--   ******************************************For crime:-->

{%if crime%}

<div class="container">
   <h1>{{crime[0].name}}</h1>

   {% for crime in crime[0].crimes%}
           <div class="listFlex">
      <div>
         <ul>
            <li>Crime ID: {{crime.id}}</li>
            <li>Crime Name: {{crime.name}}</li>
            <li>Crime Location: {{crime.crime_location}}</li>
         </ul>
      </div>
    </div>

      {%endfor%}


          <div class="dropdown">
  <button class="dropbtn">Additional Information</button>
  <div class="dropdown-content">
     <a href="{{url_for('informationDisplay', name = crime[0].name)}}">Criminal</a>
    <a href="{{url_for('informationDisplay', additionalInformation = 'crime', name = crime[0].name)}}">Crime</a>
    <a href="{{url_for('informationDisplay', additionalInformation = 'victim', name = crime[0].name)}}">Victim</a>
    <a href="{{url_for('informationDisplay', additionalInformation = 'judge', name = crime[0].name)}}">Judge</a>
  </div>
</div>


{%endif%}


<!--   ******************************************For Victim:-->
{% if victim %}
<div class="container">

   {% for victims in victim[0].victim%}
      <h1>{{victims.name}}</h1>
           <div class="listFlex">
      <div>
         <ul>
            <li>ID: {{victims.id}}</li>
            <li>Name: {{victims.name}}</li>
            <li>Age: {{victims.age}}</li>
            <li>Address: {{victims.address}}</li>
            <li>Nationality: {{victims.nationality}}</li>

         </ul>
      </div>
    </div>

      {%endfor%}

          <div class="dropdown">
  <button class="dropbtn">Additional Information</button>
  <div class="dropdown-content">
     <a href="{{url_for('informationDisplay', name = victim[0].name)}}">Criminal</a>
    <a href="{{url_for('informationDisplay', additionalInformation = 'crime', name = victim[0].name)}}">Crime</a>
    <a href="{{url_for('informationDisplay', additionalInformation = 'victim', name = victim[0].name)}}">Victim</a>
    <a href="{{url_for('informationDisplay', additionalInformation = 'judge', name = victim[0].name)}}">Judge</a>
  </div>
</div>


{%endif%}



<!--   ******************************************For Judge:-->
{% if judge %}
<div class="container">

   {% for judges in judge[0].judge%}
      <h1>{{judges.name}}</h1>
           <div class="listFlex">
      <div>
         <ul>
            <li>ID: {{judges.id}}</li>
            <li>Judge Name: {{judges.name}}</li>
            <li>Court Name: {{judges.courtName}}</li>
            <li>Court Address: {{judges.courtLocation}}</li>
            <li>Total Hearing: {{judges.casesFought}}</li>

         </ul>
      </div>
    </div>

      {%endfor%}

          <div class="dropdown">
  <button class="dropbtn">Additional Information</button>
  <div class="dropdown-content">
   <a href="{{url_for('informationDisplay', name = judge[0].name)}}">Criminal</a>
    <a href="{{url_for('informationDisplay', additionalInformation = 'crime', name = judge[0].name)}}">Crime</a>
    <a href="{{url_for('informationDisplay', additionalInformation = 'victim', name = judge[0].name)}}">Victim</a>
    <a href="{{url_for('informationDisplay', additionalInformation = 'judge', name = judge[0].name)}}">Judge</a>
  </div>
</div>

{%endif%}

</div>


<form method = "post">
  <button type="submit" name = "Return" value = "Return">Return</button>
</form>

   </body>
</html>


<!--<div class="container">
   <h1>Dan Englishby</h1>
   <h3>Personal Profile</h3>
   <a href="https://imgbb.com/"><img src="https://i.ibb.co/pdJfzx9/profile-picture.jpg" alt="profile-picture" border="0" /></a>
   <h4>About Me</h4>
   <p>Hi, I'm Dan Englishby, I have a huge passion for web-development and programming. I love to learn and thrive from challenges.</p>
   <h4>My Skills</h4>
   <div class="listFlex">
      <div>
         <ul>
            <li>PHP</li>
            <li>HTML</li>
            <li>CSS</li>
         </ul>
      </div>
      <div>
         <ul>
            <li>JavaScript</li>
            <li>JQuery</li>
            <li>C#</li>
         </ul>
      </div>
   </div>
   <h4>Social Media</h4>
   Catch me on Twitter - <a href="https://twitter.com/DanEnglishby">@DanEnglishby</a>
</div>-->
